.App {
  min-height: 100%;
}
.App.dark {
  background: #333;
}

@media only screen and (max-width: 425px) {
  .App.dark {
    width: 147%;
  }

  .theme-selector {
    max-width: 98%;
  }
  .recipe-list {
    grid-template-columns: 1fr;
  }
}

